.topo {
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(77, 0, 128);
  }
  main {
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(161, 50, 205);
  }
  section, aside {
    width: 45%;
  }
  section header {
    padding: 10px;
    text-align: center;
    background-color: orange;
  }
  section div {
    padding: 10px;
    text-align: center;
    background-color: yellow;
  }
  aside header {
    padding: 10px;
    text-align: center;
    background-color: orange;
  }
  aside div {
    padding: 10px;
    text-align: center;
    background-color: yellow;
  }